.root {
    -fx-background-image: url("../images/login_bg.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: linear-gradient(to bottom right, #141E30, #243B55);
}

.login-container {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 15;
    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 20, 0.3, 0, 0);
}

.text-field, .password-field {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: rgba(255,255,255,0.6);
}

.button {
    -fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: linear-gradient(to right, #0072ff, #00c6ff);
}
