.root {
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #8b0000 0%, #4a0000 100%);
}

.login-container {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 15;
    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 20, 0.3, 0, 0);
}

.text-field, .password-field {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: rgba(255,255,255,0.6);
}

.button {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, rgb(173, 70, 5) 0%, rgb(160, 50, 0) 100%);
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, rgb(160, 50, 0) 0%, rgb(173, 70, 5) 100%);
}

.label {
    -fx-text-fill: white;
}

.hyperlink {
    -fx-text-fill: skyblue;
}

.hyperlink:hover {
    -fx-text-fill: #e0e0e0;
}
